@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&family=Nunito+Sans:opsz@6..12&family=Nunito:wght@400;700&family=Roboto+Condensed&family=Tilt+Neon&family=Ubuntu&display=swap');
@import "./styles/commonClasses.css";
@import "./styles/variable.css";

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
